<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html14/strict.dtd">
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="/static/CSS/blog.css/" />
    <link rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

</head>

<body>
<!--This is the navigation links at the top-->
    <div id="header-top">
        <ul>
            <li><a href="{% url "TheoryWeb.views.homepage" %}">Home</a></li>
            <li><a href="{% url "TheoryWeb.views.research" %}">Projects</a></li>
            <li><a href="{% url "TheoryWeb.views.resume" %}">Resume</a></li>
            <li><a href="/blog">Blog</a></li>
            {% if user.is_staff %}
            <li><a href="{% url "admin:app_list" app_label='blog' %}">Admin</a></li>
            {% endif %}
        </li>
    </div>        
<!--This is the Main Header and Tagline (below links)-->

    <div id='top'>
        <h1 class="header">Boomer Rogers</h1>
        <div id="tagline">while x == true: print "Programming Life"</div>
    </div>

    <title>H.Rogers</title>

<!--This is the Nagigation Panel to the Right-->
     
    <div id="updatepanel">
                
        <p><b>Blog Post:</b> Coming April 29th, 2013</p>
        
        <h2>On This Page</h2>
            {% for post in object_list %}
                <p>{{ post.created|date:"Y-m" }} <a href ="/blog/{{post.id}}">{{ post.title }}</a></p>
            {% endfor %}
                 
        </span>
            
<!--            <h2>Add Additional Element Here</h2>-->
<!--            <p><a href=</a>-->

        <span class="page-links"><br>
            {% if page_obj.has_previous %}
                
<!--            Add the Option for Post First Page Link-->

<!--                <a href="/blog/" class="blognav">First Post</a>-->

                <a href="/blog/?page={{ page_obj.previous_page_number }}" class="blognav">&lt;&lt; Previous</a>
            {% endif %}
                    
            <span class="current">
                <div id="cpage">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </div>
            </span>
                
            {% if page_obj.has_next %}
                <a href="/blog/?page={{ page_obj.next_page_number }}" class="blognav">Next &gt;&gt;</a>
<!--                Add the Option for Post Last Page Link-->

<!--                <br><a href="/blog/?page={{ page_obj.paginator.num_pages }}" class="blognav">Last Post</a></br>      -->
            {% endif %}
        </span></br>
            
        <h2><a href="/blog/archives" id="class1">Enter Archives</a></h2>
            
        <div id="ScrollTop">
            <a href="#top">Go to Top</a>
        </div>
    </div>
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id='footer'>
        <p>Designed and Coded by Boomer Rogers: (Copyright 2012)</p>
        <p>Optimized for Google Chrome and Firefox</p>
    </div>

<!--Jquery script for moving scroll for updatepanel-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="/static/CSS/jquery.lettering-0.6.1.min.js/"></script>

<script type="text/javascript">
$(function () {  
  var top = $('#updatepanel').offset().top - parseFloat($('#updatepanel').hide().css('marginTop').replace(/auto/, 0));
  $(window).scroll(function (event) {
    var y = $(this).scrollTop();
  
    if (y >= top) {

      $('#updatepanel').fadeIn("slow").addClass('fixed');
    } else {
 
      $('#updatepanel').fadeOut("fast").removeClass('fixed');
    }
  });
});
</script>
<script>
$("a[href='#top']").click(function() {
  $("html, body").animate({ scrollTop: 0 }, "slow");
  return false;
});
</script>

<script>
  $(document).ready(function(){
    $(".header").lettering('words');
    $("#tagline").lettering('words');
  });
</script>

</body>
</html>
