<!doctype html>
<html lang="en-us">
<head>
<meta charset="utf-8" />
<!--[if IE]><![endif]-->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Home</title>
<meta name="msvalidate.01" content="69ED63101E59E01F4807EFECAA1D8B78" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
<link rel="stylesheet" href="/site_media/static/css/style.css?v=1" />


<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>-->
<!--[if lt IE 9]><script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-85789-7']);
  _gaq.push(['_setDomainName', 'ntucker.me']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body >

<div id="main">
<header id="header">
      <div id="logo">
            <h1>Nathaniel Tucker</h1>
            <div class="slogan">Doing the impossible in polynomial time.</div>
      </div>
<nav id="menubar">
<ul id="menu">
    

<li class="selected">
	<a href="/">Home</a>
	
</li>

<li class="sibling">
	<a href="/experience/">Experience</a>
	
</li>

<li class="sibling">
	<a href="/online/">Online</a>
	
</li>

<li class="sibling">
	<a href="/gear/">Gear</a>
	
</li>


</ul>
</nav>


</header>

<div id="site_content">

      <div id="sidebar_container">
        <div class="sidebar">
            <h3>Latest News</h3>
            <h4>Cats are cute</h4>
            <h5>4th November 2011</h5>
            <p><span class="plugin_picture">
<a href="/">
<img src="/site_media/media/cms_page_media/1/index.jpg" alt="" />
</a>
</span></p>
        </div>
      </div>
      <article class="content" id="top">
        <p>Technology drives the economy. People are the future of news. Gaming is the future of education.</p>
      </article>
      <article class="content" id="left">
        <h3>Skills</h3><h4>Languages</h4><h5>Fluent</h5><p>Python, C, C++, HTML 5, CSS</p><h5>Proficient</h5><p>C#, Java, XML, Javascript, PHP</p><h5>Familiar</h5><p>Perl, SQL, Lisp, Haskell, VB, x86</p><h4>Libraries / APIs</h4><p>Django, Boost, Swing, JWS, Applet, DOM, jQuery</p><h4>Techniques</h4><p>Machine Learning, Large Scale Data Processing, Metaprogramming</p>
      
      </article>
      <article class="content" id="right">
        
        
      </article>
      <div style="clear: left;"></div>
      <article class="content" id="bottom">
                
        
      </article>

</div>

</div>
<footer id="footer">Copyright 2011 by Nathaniel Tucker.</footer>


</body>
</html>
