body {

    width: 98%;
    height: 100%;
    font: Ubuntu, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    background-color: #F2F2F2;
}

p {
    font-size: 13.5px;
    font-family: Ubuntu, sans-serif;
    color: #353F3E;
}

a:link {

    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

li:link {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
}

li a:visited {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    text-decoration: none;
}

a:hover {
    color: #353F3E;
}

li a:hover {
    color: #353F3E;
}

a:active {
    font-family: Ubuntu, "Times New Roman", Times, serif;
    color: #dd4814;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

/*Text-Box Position + Styles*/

#top{
    padding: .5em;
    background-color: #353F3E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2.5px solid #F2F2F2;
}

#top h1{
    padding: 0;
    margin: 0;
    font-family: Ubuntu, Helvetica, Verdana, sans-serif;
    font-size: 40px;
}

h1.header .word1{
    color: #F8F8FF;
    font-family: 'Ubuntu';
    font-weight: normal;
}

h1.header .word2{
    color: #F8F8FF;
    font-family: 'Ubuntu';
}

#tagline {
    color: #dd4814;
    font-weight: normal;
    text-transform: lowercase;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    margin-left: 8em;
}

#tagline .word6{
    text-transform:uppercase;
    font-style: italic;
    font-size: 17px;
}
#tagline .word7{

    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

#leftnav{
    background-color: #F8F8FF;
    border: 2px solid #A8A8A8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    margin: 0;
    padding: 1em;
    max-width: 420px;
    width:420px;
    height: 400px;
    float: left;
    word-wrap: break-word;
    font-family: Ubuntu, sans-serif;
}

#leftnav h1{
    font-size: 20px;
    font-family: Ubuntu, sans-serif;
    color: #353F3E;
}


#rightnav{
    float: right;
    width: 620px;
    margin: 0em;
    margin-left: 1em;
    padding-right: 3.5em;
}

#content{
}

#footer{
    clear: both;
    margin: 0;
    padding: .5em;
    color: #333;
    text-align: center;
    font-family: Ubuntu, sans-serif;
}

#rightnav p, #leftnav p{ margin: 0 -3em 1em 0;}
#content h2 { margin: 0 0 .5em 0;}

#header-top ul {
    font-family: Ubuntu, Helvetica, sans-serif;
    word-spacing: 30px;
    font-size: 22px;
}

#header-top li {
    display: inline;
}

#header-top a{
    color: #333745;
    text-decoration: none;
}

#header-top ul a:hover{
    color: #dd4814;
}

#content p {
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    color: #1A1A1A;
}

#content h2 {
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    color: #1A1A1A;
}

#content h3 {
    font-size: 13.5px;
    font-family: Ubuntu, sans-serif;
    color: #dd4814;
}

#rightnav h2{
    font-family: Ubuntu, sans-serif;
    color: #dd4814;
    font-size: 20px;
}

#rightnav:hover #tooltip{
    color: #F2F2F2;
    background: #CCCCCC center;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    width: 620px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);

}

#tooltip {
    color: #F2F2F2;
    text-align: center;
    background: center;
    margin-top: 10px;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    width: 250px;
    -o-transition:4s;
    -ms-transition:4s;
    -webkit-transition:4s ease-in-out;
    transition:4s ease-in-out; 
}

/*This is the Hide Function(s) for text under slider (Jquery)*/

#hide1, #hide2, #hide3, #hide4, #hide5 {
    display: inline;
}

.textshow {
    width: 620px;
    margin: 3em 0;
}

.textshow h3{
    margin: 0;
    padding: .3em;
    cursor: pointer;
    text-decoration: underline;
    color: #353F3E;
    font-family: Ubuntu, sans-serif;
}

.textshow div{
    padding: .5em .25em;
    background: #F8F8FF;
    border: .5px solid #F2F2F2;
    box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.textshow h2{
    font-family: Ubuntu, sans-serif;
    color:#dd4814;
}


/*Carousel Markup*/

.roundabout-holder {
	padding: 0;
	margin: 0 auto;
	height: 300px;
	width: 400px;
}
		
.roundabout-moveable-item {
	height: 250px;
	width: 380px;
	cursor: pointer;
	display:block;
	box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;

}
		
.roundabout-moveable-item img {
    height: 100%;
	width: 100%;
}
		
.roundabout-in-focus {
	cursor: auto;
}
		
#carousel-descriptions {
	list-style:none;
	display:block;
	margin:25px auto;
	padding:0;
}
		
#carousel-descriptions li {
	font-size:22px;
	font-weight:bold;
	text-align:left;
	display:none;
	font-family: Ubuntu, sans-serif;
    color: #dd4814;
}

#carousel-descriptions p{
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    color: #353F3E;
}
		
#carousel-descriptions li.current {
	display:block;
}
		
#carousel-controls {
	max-width:900px;
	width:auto;
	margin:25px auto;
	overflow:auto;
	border-collapse:collapse;
	text-align:center;
}
		
#carousel-controls span {
	text-decoration: none;
    background: #CCCCCC;
    display:inline-block;
    width:10px;
    height:10px;
    border-radius: 60px;
    font-size:20px;
    color:#fff;
    line-height:5px;
    margin: 1px;	
    cursor:pointer;		
}

#carousel-controls .current {
    background:#333333;
	color:;
	border-color:#400;
}

#carousel-controls span:hover {
    background: #333333;
    cursor: pointer;
    -o-transition:.5s;
    -ms-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
