<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    PAGE Y U NO LOAD!
                </h1>
                <a href="#">
                    <img class="img-thumbnail" src="../app/dist/images/404.png" alt="">
                </a>
                <h2>
                    404 Not Found
                </h2>
                <br />
                <div class="error-details">
                    Sorry, the requested page could not be found.
                </div>
                <div class="error-actions">
                    {{#link-to 'portfolio' class='btn btn-primary btn-lg'}}
                        Take Me Home
                        &nbsp;
                        <span class="glyphicon glyphicon-home"></span>
                    {{/link-to}}
                </div>
            </div>
        </div>
    </div>
</div>