<h1> Gweithdy App </h1>
<!--<script type='text/x-handlebars'>-->
    <li>{{#link-to ''}}Workshop{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
    {{outlet}}
<!--</script>-->

<!--<script>

var HomePageView = Ember.View.extend( {
    template: Ember.TEMPLATES.App.homepage
} );

</script>-->