<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html14/strict.dtd">

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <link rel="stylesheet" type="text/css" href="/static/CSS/resume.css/" />

    <link rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

</head>

<body>
<!--This is the navigation links at the top-->
<div id="header-top">
    <ul>
        <li><a href="{% url TheoryWeb.views.homepage %}">Home</a></li>
        <li><a href="{% url TheoryWeb.views.research %}">Projects</a></li>
        <li><a href="{% url TheoryWeb.views.resume %}">Resume</a></li>
        <li><a href="/blog">Blog</a></li>
    </li>
</div>
        
        
<!--This is the Main Header and Tagline (below links)-->

<div id='top'>
    <h1 class="header">Boomer Rogers</h1>
    <div id="tagline">while x == true: print "Programming Life"</div>
</div>
    
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}
    
    <title>{% block title %} H. Rogers {% endblock %}</title>

<div id='content'>
    <h2>Resume</h2>
    <h3>Objective(s)</h3>
    <p>Christopher Hitchens once said that to be a writer you must not love writing but you must be <i>compelled</i> to write. In other words, you can't live without finding a way to write. For me, I can't live without being on a computer and programming it to do 'interesting things'. Well, that and <b>intense</b> video game binges. As a budding programmer I would love an internship/entry-level position within a company that builds awesome software. I mean, heck, I program in my free time why not learn and explore software together with the best, too?</p>

    <h3>Experience</h3>
    <p>January 2013-Present</p>
    <p><b>LazyLibrarian</b> (open source), Programmer <p>
    <p>October 2012-Present</p>
    <p><b>TheoryWeb, Django Website</b>, Programmer</p>
    <p>February, 2012 – August 2012</p>
    <p><b>Canvasser</b>, UNHCR, Washington, DC. </p>
    <p>August 2009 – July 2010</p>
    <p><b>Research Assistant</b>, Colorado State University, Pueblo, CO</p>
    <p>January – May 2010</p>
    <p><b>Research Intern</b>, Colorado Senate, Denver, CO</p>
    <p>August 2006 – May 2008</p>
    <p><b>Computer Technician</b>, Self-Employed, Springfield, CO
    <p>August 2005 – May 2007</p>
    <p>IT Support, <b>Campo High School</b>, Campo, CO.</p>
    <h3>Education</h3>
    <p>September 2012 - September 2013
    <p><b>University of Wales,</b> Aberystwyth, Wales, UK <br>MScEcon International Relations<br><i>International Excellence</i> Scholarship</br></p>
    <p>August 2007 - May 2011</p>
    <p><b>Colorado State University,</b> Pueblo, Colorado <br>Bachelor of Science in Political Science</br></p>
    <h3>Coursework</h3>
    <p>Udacity, Computer Science, 2012</p>
    <p>Santa Fe Institute, Introduction to Complexity Theory, <i>February 2013-Present</i></p>
    <p> University of Michigan, Model Thinking <i>March 2013-Present</i></p>
    <p>Masters: Advanced Statistics, Research Methodology <i>September 2012-Present</i></p>
    <p>Bachelors: Mathematical Statistics <i>August 2008</i>, Social Statistics <i>January 2009</i>, Calculus <i>January 2010</i>, Computer Logic <i>August 2011</i></p>
        <h3>Publications and Conferences</h3>
    <p> “<i>Biological Weapons and Security Dilemmas</i>” with David Malet, The Whitehead Journal of Diplomacy, Summer 2010, pp. 105-13.</p>
    <p>“<i>Involving Foreign Fighters in Somalia</i>”, Centre for the Study of Terrorism and Political Violence, Presented at the University of St. Andrews, Scotland. March 2010.</p>
    <p><i>Millennium Annual Conference</i>. London School of Economics, London, UK. October 2012.</p>
    <h3>Interests</h3>
    <p> Programming, philosophy, Social Science, Snowboarding, Being a Gamer</p>
    <h3>Where you can find me online</h3>
    <li><a href="http://uk.linkedin.com/pub/herman-rogers/32/13a/765/">My LinkedIn</a></li>
    <li><a href="http://aber.academia.edu/HermanRogers">Some Academic Papers</a></li>
    <li><a href="http://github.com/herman-rogers">My Github Profile</a></li>
    <p>(Took some time our from open source to build this website and grad school, so go easy on me!)</p>
</div>

<!--This is the Footer at the Bottom-->
<div id='footer'>
    <p>Powered/Designed by Boomer Rogers: (Copyright 2012)</p>
    <p>Optimized for Google Chrome and Firefox</p>
</div>

<!--Javascript-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="/static/CSS/jquery.lettering-0.6.1.min.js/"></script>

<script>
  $(document).ready(function(){
    $(".header").lettering('words');
    $("#tagline").lettering('words');
  });
</script>

</body>
</html>
