<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 //EN" "http://www.w3.org/TR/html14/strict.dtd">

<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <link rel="stylesheet" type="text/css" href="/static/CSS/resume.css/" />

    <link rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

</head>

<body>
<!--This is the navigation links at the top-->
<div id="header-top">
    <ul>
        <li><a href="{% url TheoryWeb.views.homepage %}">Home</a></li>
        <li><a href="{% url TheoryWeb.views.research %}">Projects</a></li>
        <li><a href="{% url TheoryWeb.views.resume %}">Resume</a></li>
        <li><a href="/blog">Blog</a></li>
    </li>
</div>
        
        
<!--This is the Main Header and Tagline (below links)-->

<div id='top'>
    <h1 class="header">Boomer Rogers</h1>
    <div id="tagline">while x == true: print "Programming Life"</div>
</div>
    
    {% block content %}{% endblock %}
    {% block footer %}
    {% endblock %}
    
    <title>{% block title %} H. Rogers {% endblock %}</title>

<div id='content'>
    <h2>Resume</h2>
    <h3>Objective</h3>
    <p>I have had a strong passion for computers since I was a child and love to program in my free time. I am seeking an entry-level or internship programming position to facilitate my passion as well as improve my abilities as a programmers while simultaneously helping my employer deploy incredible software. I think the perfect company would be one where the goals are forward-looking and the dev team is passionate about their software</p>

    <h3>Experience</h3>
    <p>Programmer, LazyLibrarian (<b>open source</b>), <i>January 2013-Present</i><p>
    <p>Programmer, Django/Python based website 'TheoryWeb', <i>October 2012-Present</i></p>
    <p>Canvasser, UNHCR, Washington, DC. <i>February, 2012 – August 2012</i></p>
    <p>Research Assistant, Colorado State University, Pueblo, CO. <i>August 2009 – July 2010</i></p>
    <p>Senator/Pro-Tempore, ASG, Pueblo, CO. <i>January, 2009 – August 2010</i></p>
    <p>Senate Research Intern,  Colorado Senate, Denver, CO. <i>January – May 2010</i></p>
    <p>Computer Tech Support,  Campo High School, Campo, CO. <i>August 2006 – May 2007</i></p>
    <h3>Education</h3>
    <p><b>Aberystwyth University</b><i> – Current</i> – MSc International Relations (Research Training)<br><i>International Excellence</i> Scholar</br></p>
    <p><b>Colorado State University</b> – Class of 2011 Pueblo, Colorado <br>Bachelor of Science in Political Science</br></p>
    <h3>Relevant Classes</h3>
    <p>Santa Fe Institute, Introduction to Complexity Theory, <i>February 2013-Present</i></p>
    <p> University of Michigan, Model Thinking <i>March 2013-Present</i></p>
    <p>Masters: Statistics, Research Methodology <i>September 2012-Present</i></p>
    <p>Bachelors: Mathematical Statistics <i>August 2008</i>, Social Statistics <i>January 2009</i>, Calculus <i>January 2010</i>, Computer Logic <i>August 2011</i></p>
        <h3>Publications and Conferences</h3>
    <p> “<i>Biological Weapons and Security Dilemmas</i>” with David Malet, The Whitehead Journal of Diplomacy, Summer 2010, pp. 105-13.</p>
    <p>“<i>Involving Foreign Fighters in Somalia</i>”, Centre for the Study of Terrorism and Political Violence, Presented at the University of St. Andrews, Scotland. March 2010.</p>
    <p><i>Millennium Annual Conference</i>. London School of Economics, London, UK. October 2012.</p>
    <h3>Interests</h3>
    <p> Programming, philosophy, Social Science, Snowboarding, Being a Gamer</p>
    <h3>Where you can find me online</h3>
    <li><a href="http://uk.linkedin.com/pub/herman-rogers/32/13a/765/">Full CV</a></li>
    <li><a href="http://aber.academia.edu/HermanRogers">Some Academic Papers</a></li>
    <li><a href="http://github.com/herman-rogers">My Github Profile</a></li>
</div>

<!--This is the Footer at the Bottom-->
<div id='footer'>
    <p>Powered/Designed by Boomer Rogers: (Copyright 2012)</p>
    <p>Optimized for Google Chrome and Firefox</p>
</div>

<!--Javascript-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript" src="/static/CSS/jquery.lettering-0.6.1.min.js/"></script>

<script>
  $(document).ready(function(){
    $(".header").lettering('words');
    $("#tagline").lettering('words');
  });
</script>

</body>
</html>
