<!--Errors-->
    </head>

<head>

</style>
</head>


<!--Outside Links: Add Links to other sites-->

        <div id='irtheorylinks'>
            <h2>IR Theory Links</h2>
                <li><a href=''>Sante Fe Institute</a></li>
                <li><a href=''>Robert Axelrod</a></li>
                <li><a href=''>eIR</a></li>
        </div>

<!--Twitter-->

        <div id= 'twitter'>
            <h2> Latest Tweets // <span class="h1color"><a href=''>Go to Twitter</span></a></h2>
        </div>

<!--Search Bar: Basic Search-->

        <div id="search">
    
            <form method="get" action="/search" id="search">
                <input name="q" type="text" size="40" placeholder='Search...' />
            </form>

        </div>


</body>    
</html>
